.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: none;
    left: 0;
    top: 0;
    z-index: 999999;
}

.loader img {
    width: 120px;
    margin-left: calc(50% - 60px);
    margin-top: 80px;
}

/*.loader::after {*//*    position: fixed;*//*    content: "";*//*    width: 120px;*//*    height: 120px;*//*    left: calc(50% - 60px);*//*    top: 100px;*//*    border: 10px solid yellow;*//*    border-top-color: transparent;*//*    border-bottom-color: transparent;*//*    border-radius: 100%;*//*    box-sizing: border-box;*//*    animation: rotate360 infinite linear 1s;*//*}*//*@keyframes rotate360 {*//*    100% {*//*        transform: rotate(360deg);*//*    }*//*}*/
.loader h4 {
    position: fixed;
    width: 200px;
    height: 40px;
    left: 0;
    text-align: center;
    top: calc(50% - 120px);
    left: calc(50% - 100px);
    font-weight: bold;
    font-size: 30px;
    color: red;
}

.loader p:first-child {
    margin-top: 300px
}

.loader p {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
}
.stream_div{
position:fixed;
bottom:10px;z-index:2;
width:58%;
right:1px;
display:none;
}